@charset "utf-8";
/* Creado por Alejandro Sánchez Folgado */
html {
    background: url("img/sonetos-lope-plantilla/fondos/corazon-1.svg") top left repeat-y,
      pink url("img/sonetos-lope-plantilla/fondos/corazon-2.svg") top right repeat-y;
    padding: 0 70px; 
    text-align: center
  }
  div.div1{ color: white;
    background-image: url()
  }
  div.div2{ color: gold;
    background-image: url()  
}
div.div3{ color: #800036;
    background-image: url() 
}
div.div4{ color: #004D06;
    background-image: url() 
}